progress{
    background-color: #56BE64;

}
progress::-webkit-progress-bar { background: #ccc; }
progress::-webkit-progress-value { background: #56BE64; }

#pbar{
    width: 310px;
    border: 1px solid;
    display: none;
    padding-right: 7px;
}

#processBar{
    width:100%;
    margin-right: 5px;
}

a { text-decoration: none; color: #555 }

table{
    width: 50%;
    margin-top: 7px;
    text-align: center;
}

table .select{
    width: 38px;

}

table .select input{
    text-align: center;
     margin-top: 8px;
}

table #title{
    /*text-align: center;*/
}

#deleteButton{
    height: 68px;
    vertical-align: bottom;
}

#deleteButton > input{
    color: white;
    background-color: red;
    border: 1px solid black;
}

#deleteButton > input:active{
    color: red;
    background-color: white;
    border: 1px dashed gold;
}