progress{
    background-color: #56BE64;

}
progress::-webkit-progress-bar { background: #ccc; }
progress::-webkit-progress-value { background: #56BE64; }

#pbar{
    width: 310px;
    border: 1px solid;
    display: none;
    padding-right: 7px;
}

#processBar{
    width:100%;
    margin-right: 5px;
}

a { text-decoration: none; color: #555 }

table{
    width: 50%;
    margin-top: 7px;
}

table .select{
    width: 38px;

}

table .select input{
    text-align: left;
     margin-top: 8px;
}

table #title{
    /*text-align: center;*/
}