<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">我的主页</title>
    <script src="/static/js/cre_xhr.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/js_mypage.js"></script>
    <link rel="shortcut icon" href="/static/images/bitbug_favicon.ico" type="image/x-icon" />
    <link href="/static/css/base.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
    <link href="/static/css/mypage.css" rel="stylesheet">


</head>
<body onload="load()">
    <div class="menu">
      <nav class="nav" id="topnav">
        <h1 class="logo"><a href="100-main.html">开心词典</a></h1>
        <li><a a href="/">首页</a></li>
        <li><a href="">功能１</a></li>
        <li><a href="javascript:void(0);" onclick="load()">空间主页</a></li>
        <li><a a href="javascript:void(0);" onclick="my_history();">空间记录</a> </li>
        <li><a href="/skydisk">网盘</a> </li>
        <li><a href="">个人资料</a> </li>
        <li><a href="release.html">功能６</a></li>
          <a href="javascript:void(0);">欢迎,{{nickname}}</a>
          <a href="/logout" class="no-margin">退出</a>
      </nav>
    </div>
    <div id="main"></div>
    <h3 class="hello_update">你好,{{nickname}}</h3>
    <div>
    <form action="/My_page" method="post" enctype="multipart/form-data">
        <textarea id="text_in" name="uinfo" placeholder="说点什么吧..." onblur="checknull();"></textarea>
        <div id="show">

        </div>
        <p id="ctrl">
            <input type="button" style="font-size: 25px;" onclick="javascript:$('#sele').click();" value="上传图片">
            <input id="sele" type="file" name="image" accept="image/gif, image/jpeg" onchange="show_image(this.files);" style="display: none">
            <input id="btn_sub" type="submit" value="发表">
        </p>
    </form>
        <button id="cancel" onclick="cancel();">取消编辑</button>
        <div id="ctrl_upn">
            <button style="margin-left: 20px" onclick="load();">更新</button>
            <p>
            <a class="chang_page" id="prior" href="#1" style="color:brown" onclick="next('ngtv');"><<上一页</a>
            </p>
            <p>
            <a class="chang_page" id="next" href="#1" style="color:brown" onclick="next('pos');">下一页>></a>
            </p>
        </div>

    </div>
    <a name="1"></a>
    <div id="comm_ar"></div>
    <script>

        $(function () {
           checknull();
        });

    </script>
</body>
</html>

