<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网盘</title>
    <link href="/static/css/sky.css" rel="stylesheet">
    <script src="/static/js/cre_xhr.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/js_skydisk.js"></script>
</head>
<body>
<h1>天空网盘</h1>
    <form action="/push_file" method="post" enctype="multipart/form-data">
    <div>
        <p>
            <button type="button" onclick="newdir('{{ dirlist.abs_path }}');">新建文件夹</button>
        </p>

        <p>
{#            上传文件: <input type="file" name="file" id="leading_in" class="hide" onchange="goodfile();">#}
            <input id="hidden" type="hidden" name="path" value="{{ dirlist.abs_path }}">
        </p>
    </div>
    </form>
    <h5>文件列表:{{ dirlist.uroot }}</h5>
<form id="deldata" action="/delfiles" method="post">
    <ul>
        {% for f in dirlist.lst %}
            <li>
                <input type="checkbox" name="del{{ loop.index0 }}" value="{{ dirlist.abs_path }}/{{ f.fname }}">
                <a href="/skydisk?index={{ dirlist.abs_path }}/{{ f.fname }}">{{ f.fname }}</a>
                <span>创建时间:{{ f.ctime }}</span>
            </li>
        {% endfor %}
    </ul>
    <input type="hidden" name="now_path" value="{{ dirlist.abs_path }}">
</form>
    <input type="button" value="删除所选文件" onclick="deleteFile()">
    <!--批量上传-->
    <input type="file" id="uploadFile" onchange="uploadFiles()">
    <!--上传进度条-->
    <p id="pbar">
        <progress id="processBar"></progress>
    </p>
    <span id="percen"></span>


</body>
</html>