<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网盘</title>
    <script src="/static/js/cre_xhr.js"></script>
    <script src="/static/js/jquery-1.11.3.js"></script>
    <script src="/static/js/js_skydisk.js"></script>
</head>
<body>
<h1>天空网盘</h1>
<form action="/push_file" method="post" enctype="multipart/form-data">
    <div>
        <p>
            <button type="button" onclick="newdir('{{ dirlist.abs_path }}');">新建文件夹</button>
        </p>
        <p>
            <button type="button">删除</button>
        </p>
        <p>
            上传文件: <input type="file" name="file">
            <input type="hidden" name="path" value="{{ dirlist.abs_path }}">
        </p>
        <input type="submit" value="提交">
    </div>
    <h5>文件列表</h5>
    <ul>
        {% for f in dirlist.lst %}
        <li><a href="/skydisk?index={{ dirlist.abs_path }}/{{ f }}">{{ f }}</a></li>
        {% endfor %}
    </ul>
</form>
</body>
</html>